In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/ev_charging_data.csv")
df.head()

         date  hour station_id  energy_kwh
0  2025-01-01     0  Station_1       10.63
1  2025-01-01     0  Station_2       17.10
2  2025-01-01     0  Station_3       18.01
3  2025-01-01     0  Station_4       10.33
4  2025-01-01     0  Station_5       14.38

In [3]:
df.info

<bound method DataFrame.info of              date  hour station_id  energy_kwh
0      2025-01-01     0  Station_1       10.63
1      2025-01-01     0  Station_2       17.10
2      2025-01-01     0  Station_3       18.01
3      2025-01-01     0  Station_4       10.33
4      2025-01-01     0  Station_5       14.38
...           ...   ...        ...         ...
21595  2025-06-29    23  Station_1       14.06
21596  2025-06-29    23  Station_2       13.04
21597  2025-06-29    23  Station_3        9.58
21598  2025-06-29    23  Station_4       12.37
21599  2025-06-29    23  Station_5        9.98

[21600 rows x 4 columns]>

In [4]:
df.isnull().sum()

date          0
hour          0
station_id    0
energy_kwh    0
dtype: int64

In [6]:
df["date"] = pd.to_datetime(df["date"])

In [7]:
df["day_of_week"] = df["date"].dt.dayofweek
df["is_weekend"] = df["day_of_week"].apply(lambda x: 1 if x >= 5 else 0)
df["month"] = df["date"].dt.month

In [8]:
df["station_id"] = df["station_id"].astype("category").cat.codes

In [9]:
df.head()

        date  hour  station_id  energy_kwh  day_of_week  is_weekend  month
0 2025-01-01     0           0       10.63            2           0      1
1 2025-01-01     0           1       17.10            2           0      1
2 2025-01-01     0           2       18.01            2           0      1
3 2025-01-01     0           3       10.33            2           0      1
4 2025-01-01     0           4       14.38            2           0      1

In [10]:
df.to_csv("../data/ev_charging_data_preprocessed.csv", index=False)